@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.forWho {
  @include centerWithPosition();
  top: 182vh;
  overflow: hidden;
  max-width: 100%;

  @media (max-width: 800px) {
    top: 140vh;
  }

  @media (max-width: 450px) {
    top: 240vh;
  }

  &__wrap {
    position: relative;
    left: -60vw;
    width: 220vw;
    height: 220vh;
    background-color: #fff;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    @media (max-width: 800px) {
      left: 0vw;
      width: 100vw;
      height: 150vh;
      background-position: 50% 40%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    @media (max-width: 450px) {
      height: 300vh;
    }

    @media (max-width: 380px) {
      height: 320vh;
    }
  }
}

.forWho {
  &__about {
    position: absolute;
    top: 9%;
    left: 38%;
    right: 38%;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 800px) {
      top: 2%;
      left: 5%;
      right: 5%;
    }

    &--title {
      color: $color-one;
      line-height: 2;
      font-size: 2.4em;
      font-weight: bold;

      @media (max-width: 1600px) {
        font-size: 2.2em;
      }

      @media (max-width: 1440px) {
        font-size: 2em;
      }

      @media (max-width: 1360px) {
        font-size: 1.8em;
      }

      @media (max-width: 800px) {
        font-size: 2.4em;
      }
    }

    &--desc {
      color: $color-two;
      line-height: 1.75;
      font-size: 0.9em;
      letter-spacing: 1px;
      font-weight: bold;

      @media (max-width: 1440px) {
        font-size: 0.85em;
      }

      @media (max-width: 1360px) {
        font-size: 0.8em;
      }
    }
  }

  // Clients

  &__clients {
    position: absolute;
    top: 24%;
    left: 31%;
    right: 31%;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 800px) {
      top: 20%;
      left: 5%;
      right: 5%;
    }

    &--title {
      position: relative;
      margin-bottom: 7vh;
      font-weight: bold;
      letter-spacing: 10px;
      font-size: 2em;

      @media (max-width: 1600px) {
        font-size: 1.8em;
      }

      @media (max-width: 1440px) {
        font-size: 1.7em;
      }

      @media (max-width: 1360px) {
        font-size: 1.6em;
      }

      @media (max-width: 400px) {
        font-size: 1.4em;
      }

      &::after {
        @include centerWithPosition();
        content: '';
        display: block;
        top: 200%;
        height: 1px;
        background-color: $grey-medium;
        width: 10vw;

        @media (max-width: 400px) {
          top: 150%;
          width: 40vw;
        }
      }
    }
  }
}

.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__element {
    width: 23vw;
    margin-top: 5vh;

    @media (max-width: 1360px) {
      margin-top: 3vh;
    }

    @media (max-width: 450px) {
      width: 40vw;
    }

    &--img {
      @media (max-width: 1360px) {
        transform: scale(0.75);
      }
    }

    &--text {
      letter-spacing: 1px;
      padding: 3vh 1vw;

      @media (max-width: 1600px) {
        font-size: 0.9em;
        padding: 4vh 1vw;
      }

      @media (max-width: 1440px) {
        font-size: 0.85em;
      }

      @media (max-width: 1360px) {
        font-size: 0.8em;
        padding: 2vh 1vw;
      }
    }
  }
}

// Commision

.forWho__commision {
  position: absolute;
  top: 64%;
  left: 31%;
  right: 31%;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1360px) {
    top: 66%;
  }

  @media (max-width: 800px) {
    top: 68%;
    left: 3%;
    right: 3%;
  }

  @media (max-width: 380px) {
    top: 72%;
    left: 3%;
    right: 3%;
  }

  &--title {
    position: relative;
    margin-bottom: 7vh;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 2em;

    @media (max-width: 1600px) {
      font-size: 1.8em;
    }

    @media (max-width: 1440px) {
      font-size: 1.7em;
    }

    @media (max-width: 1360px) {
      font-size: 1.6em;
    }

    @media (max-width: 800px) {
      margin-bottom: 4vh;
    }

    &::after {
      @include centerWithPosition();
      content: '';
      top: 200%;
      display: block;
      height: 1px;
      width: 10vw;
      background-color: $grey-medium;
    }
  }

  &--desc {
    padding: 2vh 5vw;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.2em;

    @media (max-width: 1600px) {
      font-size: 1em;
    }

    @media (max-width: 1440px) {
      padding: 2.5vh 5vw;
      font-size: 0.9em;
      line-height: 1.3;
    }

    @media (max-width: 1360px) {
      padding: 2vh 10vw;
      font-size: 0.8em;
      line-height: 1.3;
    }
  }

  &--button {
    @include buttonOne();
    margin-top: 3vh;
  }
}

.forWho__clients,
.forWho__about,
.forWho__commision {
  opacity: 0;
  transition: 1s;
}

@media (max-width: 1600px) {
}
