@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.forWho {
  @include centerWithPosition();
  top: 182vh;
  overflow: hidden;
  max-width: 100%;
  &__wrap {
    position: relative;
    left: -60vw;
    width: 220vw;
    height: 220vh;
    background-color: #fff;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
}

.forWho {
  &__about {
    position: absolute;
    top: 10%;
    left: 38%;
    right: 38%;
    text-align: center;
    text-transform: uppercase;
    animation: showForWhoFirst 2s;

    &--title {
      color: $color-one;
      line-height: 2;
      font-size: 2.4em;
      font-weight: bold;
    }

    &--desc {
      color: $color-two;
      line-height: 1.75;
      font-size: 0.9em;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }

  // Clients

  &__clients {
    position: absolute;
    top: 24%;
    left: 31%;
    right: 31%;
    text-align: center;
    text-transform: uppercase;

    &--title {
      position: relative;
      margin-bottom: 7vh;
      font-weight: bold;
      letter-spacing: 10px;
      font-size: 2em;

      &::after {
        @include centerWithPosition();
        content: '';
        display: block;
        top: 200%;
        height: 1px;
        background-color: $grey-medium;
        width: 10vw;
      }
    }
  }
}

.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__element {
    width: 23vw;
    margin-top: 5vh;

    &--text {
      letter-spacing: 1px;
      padding: 3vh 1vw;
    }
  }
}

// Commision

.forWho__commision {
  position: absolute;
  top: 64%;
  left: 31%;
  right: 31%;
  text-align: center;
  text-transform: uppercase;

  &--title {
    position: relative;
    margin-bottom: 7vh;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 2em;

    &::after {
      @include centerWithPosition();
      content: '';
      top: 200%;
      display: block;
      height: 1px;
      width: 10vw;
      background-color: $grey-medium;
    }
  }

  &--desc {
    padding: 2vh 5vw;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.2em;
  }

  &--button {
    @include buttonOne();
    margin-top: 3vh;
  }
}
