// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap&subset=latin-ext');

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 100%);
  min-height: 500vh;
  cursor: default;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
