// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap&subset=latin-ext');

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e2e2e2 100%);
  min-height: 500vh;
  cursor: default;
}

input[type='checkbox'] {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
