.ads3 {
  position: relative;
  min-height: 100vh;
  background-image: url(../../images/ads3.jpeg);
  background-size: contain;
  color: #fff;

  & .img {
    position: absolute;
    top: -5.5%;
    left: 1.5%;
    width: 27%;
  }

  & .text {
    position: absolute;
    left: 5.5%;
    top: 58%;
    width: 51%;
    padding: 15px 35px;
    background-color: #202c34;
    box-shadow: 2px 2px 10px #000;

    &__paraf {
      line-height: 1.5;
      font-size: 2.75rem;
    }
  }

  .bg-yellow {
    padding: 0 4px;
    background-color: #e0ae77;
  }

  .url {
    position: absolute;
    top: 94%;
    left: 63%;
    font-size: 1.2rem;
  }
}
