@import './variables';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=latin-ext');

@mixin centerWithPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin buttonOne {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 10px;
  color: white;
  background-color: $color-one;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  word-spacing: 3px;
  transition: 0.3s;
  cursor: pointer;

  @media (max-width: 1440px) {
    font-size: 0.75em;
  }

  &:hover {
    background-color: #000;
  }

  & a {
    padding-left: 10px;
    color: white;
  }
}

@mixin sectionTitle {
  position: relative;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 2.4em;
  margin-bottom: 7vh;
  text-align: center;
  color: #000;
  text-transform: uppercase;

  &::after {
    @include centerWithPosition();
    content: '';
    top: 200%;
    display: block;
    height: 1px;
    width: 10vw;
    background-color: #000;

    @media (max-width: 440px) {
      top: 150%;
      width: 40vw;
    }
  }

  @media (max-width: 1440px) {
    font-size: 2.1em;
  }

  @media (max-width: 1360px) {
    font-size: 1.9em;
    margin-bottom: 5vh;
  }

  @media (max-width: 450px) {
    font-size: 1.7em;
  }
}

@mixin resetButton {
  border: inherit;
  &:focus {
    outline: none;
  }
}

@mixin contactFormElementProperties {
  margin-bottom: 3vh;
  line-height: 1.4;
  font-size: 1.6em;
  letter-spacing: 2px;
  word-spacing: 4px;

  @media (max-width: 1600px) {
    font-size: 1.4em;
  }

  @media (max-width: 1440px) {
    font-size: 1.3em;
  }

  @media (max-width: 1360px) {
    font-size: 1.2em;
  }

  @media (max-width: 450px) {
    font-size: 0.9em;
  }

  @media (max-width: 360px) {
    font-size: 0.8em;
  }
}

@mixin contactFormTitlesProperties {
  margin-bottom: 3vh;
  line-height: 1.4;
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: 8px;
  text-transform: uppercase;

  @media (max-width: 1600px) {
    font-size: 2em;
  }

  @media (max-width: 1600px) {
    font-size: 1.9em;
  }

  @media (max-width: 1360px) {
    font-size: 1.8em;
  }

  @media (max-width: 450px) {
    font-size: 1.5em;
  }

  @media (max-width: 370px) {
    font-size: 1.3em;
  }
}
