@mixin centerWithPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin buttonOne {
  padding: 20px;
  background-color: $color-one;
  font-size: 0.7em;
  line-height: 2em;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: #000;
  }

  & a {
    padding-left: 10px;
    color: white;
  }
}

@mixin sectionTitle {
  position: relative;
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 2.4em;
  margin-bottom: 7vh;
  text-align: center;
  color: #000;
  text-transform: uppercase;

  &::after {
    content: '';
    height: 1px;
    background-color: #000;
    width: 10vw;
    display: block;
    @include centerWithPosition();
    top: 200%;
  }
}

@mixin resetButton {
  border: inherit;
  &:focus {
    outline: none;
  }
}
