@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.contact {
  position: relative;
  top: 200vh;
  background-color: #eae8e7;

  &__info {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
    clip-path: polygon(100% 0, 0% 100%, 0 0);

    &__wrap {
      padding: 15vh 5vw;
      max-width: 680px;
      text-transform: uppercase;

      @media (max-width: 1600px) {
        padding: 10vh 5vw;
      }
    }

    &--title {
      @include contactFormTitlesProperties();
    }

    &--adress {
      @include contactFormElementProperties();
    }

    &--telAndMail {
      @include contactFormElementProperties();
      color: $color-one;

      & * {
        font-weight: bold;
      }

      & svg {
        margin-right: 1vw;
      }
    }

    &--social {
      & .social__element {
        display: inline-block;
        height: 7vh;
        width: 7vh;
        margin: 1vh;
        background-color: lightgray;
        color: #fff;
        text-align: center;
        line-height: 7vh;
        font-size: 1.7em;
        transition: 0.25s linear;

        &:hover {
          background-color: $color-one;
        }
      }
    }
  }

  &__form {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background-color: #eae8e7;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

    &__wrap {
      padding: 2vh 0 5vh 8vw;
      max-width: 800px;
      margin-right: 2vw;

      @media (max-width: 1680px) {
        max-width: 720px;
      }

      @media (max-width: 1600px) {
        max-width: 650px;
        margin-right: 1vw;
        padding: 2vh 0 3vh 5vw;
      }

      @media (max-width: 1440px) {
        max-width: 620px;
      }

      @media (max-width: 1360px) {
        max-width: 580px;
        margin-right: 1vw;
        padding: 2vh 0 3vh 5vw;
      }
    }

    &--title {
      @include contactFormTitlesProperties();
      margin-bottom: 1vh;

      @media (max-width: 1440px) {
        font-size: 1.7em;
      }

      @media (max-width: 1360px) {
        font-size: 1.5em;
        margin-bottom: 0vh;
      }
    }

    & .contactForm {
      display: flex;
      flex-wrap: wrap;

      &__inputWrap {
        width: 50%;

        & .contactInput {
          border: none;
          border-bottom: 2px solid #fff;
          padding: 20px 0;
          background-color: transparent;
          font-size: 1.25em;

          @media (max-width: 1600px) {
            font-size: 1em;
          }

          @media (max-width: 1360px) {
            font-size: 0.8em;
          }
        }

        &--checkbox {
          margin-top: 2vh;
          font-size: 0.9em;

          @media (max-width: 1600px) {
            font-size: 0.8em;
          }

          @media (max-width: 1440px) {
            font-size: 0.75em;
          }

          @media (max-width: 1360px) {
            margin-top: 1vh;
            font-size: 0.65em;
          }

          & .checkbox__input {
            display: none;

            &:checked + label:before {
              width: 10px;
              top: -5px;
              left: 5px;
              border-radius: 0;
              opacity: 1;
              border-top-color: transparent;
              border-left-color: transparent;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);

              @media (max-width: 1600px) {
                width: 8px;
              }
            }
          }

          & .checkbox__label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            &:before {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border: 2px solid $color-one;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0.6;
              -webkit-transition: all 0.12s, border-color 0.08s;
              transition: all 0.12s, border-color 0.08s;

              @media (max-width: 1600px) {
                width: 16px;
                height: 16px;
              }

              @media (max-width: 1360px) {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }

      &__button {
        background-color: $color-one;
        color: #fff;
        padding: 20px;
        border: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.3s ease-out;
        cursor: pointer;

        &:hover {
          background-color: #000;
        }

        @media (max-width: 1600px) {
          font-size: 0.7em;
          padding: 18px;
        }

        @media (max-width: 1360px) {
          font-size: 0.65em;
          padding: 14px;
        }
      }
    }
  }
}

.contactForm__link {
  color: $color-one;
}

// Footer

.contact__footer__text {
  position: relative;
  top: 95vh;
  padding-left: 12vw;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1em;

  @media (max-width: 1600px) {
    font-size: 1em;
  }

  @media (max-width: 1360px) {
    font-size: 0.8em;
  }
}
