@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.practice {
  position: relative;
  top: 200vh;
  padding: 10vh 0 1vh;
  background-color: #fff;

  &__title {
    @include sectionTitle();
  }

  &__main {
    margin: 10vh 10vw;

    @media (max-width: 1440px) {
      margin: 13vh 10vw;
    }

    &__element {
      display: flex;
      margin: 4vh 5vw;
      padding: 1vh 0;
      color: #000;

      @media (max-width: 1440px) {
        margin: 6vh 5vw;
      }
    }
  }
}

.element {
  &--right {
    flex-direction: row-reverse;
    text-align: right;
  }

  &__desc {
    padding: 2vh 5vw;

    &--title {
      display: inline-block;
      margin-bottom: 2.5vh;
      color: $color-one;
      font-size: 1.5em;
      transition: 0.3s;

      @media (max-width: 1360px) {
        font-size: 1.3em;
      }

      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        margin-top: 5px;
        background-color: $color-one;
        transition: 0.3s;
      }

      &:hover {
        &::after {
          content: '';
          width: 100%;
        }
      }
    }

    &--text {
      @media (max-width: 1360px) {
        font-size: 0.85em;
      }
      &--extra {
        display: block;
        margin: 2vh 0 1vh 25vw;
        font-weight: bold;
      }

      &--multitext {
        display: block;
        margin: 1vh 0;
      }
    }
  }
}

.practice__title,
.practice__main__element {
  opacity: 0;
  // transform: translateX(-10%);
  transition: 1s;
}
