@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.menu {
  position: fixed;
  width: 100%;
  max-height: 7vh;
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  transition: 0.25s;
  z-index: 1;

  &__logo {
    width: 20vw;
    margin: -1vh 3vw;
    transition: 0.3s;
  }
}

.nav {
  margin-right: 1vw;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55vw;
  }

  &__item {
    padding: 20px 0 15px;
    display: flex;
    margin: auto 0;

    &__link {
      padding-right: 1vw;
      border-right: 2px solid $grey-light;
      color: #000;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.2s;

      &:hover {
        color: $color-one;
      }

      &--noborder {
        padding-right: 0.5vw;
        border-right: none;
      }
    }

    &--analize {
      @include buttonOne;
    }

    &__icon {
      margin-right: 10px;
      font-size: 1.4em;
      color: white;
    }

    &__text {
      margin: auto 0;
    }
  }
}

.menu--scroll {
  background-color: #fff;

  & .menu__logo {
    transform: translate(-20%, -20%) scale(0.7);
  }
}

.aaa {
  margin: auto 0;
}
