@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/base/animations';

.menu {
  position: fixed;
  width: 100%;
  max-height: 7vh;
  padding: 1vh 0;
  display: flex;
  justify-content: space-between;
  transition: 0.25s;
  z-index: 1;
  animation: showMenu 2s;

  @media (max-width: 800px) {
    max-height: 5vh;
  }

  &__logo {
    width: 28vw;
    margin: 6vh 4vw;
    transition: 0.5s;

    @media (max-width: 800px) {
      width: 20vw;
      margin: 0.5vh 0vw 1vh 4vw;
    }
  }
}

.nav {
  margin-right: 1vw;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55vw;

    @media (max-width: 1360px) {
      width: 60vw;
    }

    @media (max-width: 800px) {
      width: 70vw;
    }
  }

  &__item {
    padding: 20px 0 15px;
    display: flex;
    margin: auto 0;

    &__link {
      padding-right: 1vw;
      border-right: 2px solid $grey-light;
      color: #000;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.2s;

      @media (max-width: 1600px) {
        font-size: 0.9em;
      }

      @media (max-width: 1440px) {
        font-size: 0.8em;
      }

      @media (max-width: 1360px) {
        font-size: 0.75em;
      }

      &:hover {
        color: $color-one;
      }

      &--noborder {
        padding-right: 0.5vw;
        border-right: none;
      }
    }

    &--analize {
      @include buttonOne;
    }

    &__icon {
      margin-right: 10px;
      font-size: 1.4em;
      color: white;
    }

    &__text {
      margin: auto 0;
    }
  }
}

.menu--scroll {
  background-color: #fff;
  border-bottom: 1px solid #bbb;

  & .menu__logo {
    transform: translate(-26%, -64%) scale(0.65);

    @media (max-width: 800px) {
      transform: translate(0%, 0%) scale(1);
    }
  }
}

.aaa {
  margin: auto 0;
}
