@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.menu {
  position: fixed;
  min-height: 5vh;
  width: 98%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: 0.3s;
  &__logo {
    width: 20vw;
  }
}

.nav {
   &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 55vw;
  }

  &__item {
    padding: 20px 0;

    &__link {
      padding-right: 1vw;
      border-right: 2px solid $grey-light;
      font-size: 1em;
      text-transform: uppercase;
      color: #000;
      transition: .2s;

      &:hover {
        color:$color-one;
      }

      &--noborder {
        padding-right: .5vw;
        border-right: none;
      }
    }

    &--analize {
      @include buttonOne
    }

    &__icon {
      font-size: 1.8em;
      color: white;
    }
  }
}

.menu--scroll {
  background-color: #fff;
}